fastapi
uvicorn
sqlalchemy
pydantic
pydantic[email]
bcrypt==4.0.1
passlib==1.7.4
python-jose
python-dotenv
cloudinary
python-multipart
alembic
google-generativeai>=0.7.2
psycopg2-binary==2.9.9
numpy==1.26.4
opencv-python-headless==4.9.0.80     # GUI’siz sürüm
torch==2.2.2+cpu                      # CPU wheel; CUDA gerekmez
ultralytics==8.3.170                  # YOLOv8
